{% extends 'base.html.twig' %}

{% block title %}Hello AdminAdsController!
{% endblock %}

{% block body %}
	{% include "layouts/_navbar.html.twig" %}
	<main class="h-full overflow-y-auto bg-white">
		<div class="container px-6 mx-auto grid">

			{% if app.user.adverts|length > 0 %}
				<!-- component -->
				<div class="bg-white p-8 rounded-md w-full">
					<div class=" flex items-center justify-between pb-6">
						<div>
							<h2 class="text-gray-600 font-semibold">Vos annonces publiées</h2>
						</div>
					</div>
					<div>
						<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
							<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
								<table class="min-w-full leading-normal">
									<thead>
										<tr>
											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Image
											</th>
											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Titre
											</th>
											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Prix
											</th>
											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Pays
											</th>

											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Ville
											</th>


											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Code-Postale
											</th>


											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Publié le
											</th>
											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Catégories
											</th>

											<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 tracking-wider">
												Action
											</th>
										</tr>
									</thead>
								</thead>
								<tbody>
									{% for advert in app.user.adverts %}

										<tr>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<div class="flex items-center">
													<div class="flex-shrink-0 w-10 h-10">
														<img class="w-full h-full rounded-full" src="/uploads/annonces/{{advert.imageName}}" alt=""/>
													</div>
												</div>
											</td>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">{{advert.title}}</p>
											</td>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.price}}
													€
												</p>
											</td>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.country}}

												</p>
											</td>

											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.city}}

												</p>
											</td>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.zipcode}}

												</p>
											</td>


											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.createdAt|date('d-m-Y')}}
												</p>
											</td>
											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<p class="text-gray-900 whitespace-no-wrap">
													{{advert.category}}
												</p>
											</td>

											<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
												<a href="{{path('edit_advert', {'id': advert.id})}}">


													<i class="fa-solid fa-pen-to-square text-green-500"></i>
												</a>
												<a href="{{path('delete_advert', {'id':advert.id })}}" class="px-4">
													<i class="fa-solid fa-trash-can text-red-500"></i>
												</a>
											</td>

										{% endfor %}
									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% else %}
				<section>
					<div class="container mx-auto py-12 px-6 bg-gray-200 text-center mt-6">
						<h2 class="text-gray-600 text-xl text-white">Vous avez
							{{app.user.adverts|length }}
							annonces
						</h2>
						<p>
							<a href="{{path('create_advert')}}" class="mt-4 p-2 rounded inline-block bg-green-500 text-white">Publier une annonce</a>
						</p>


					</div>
				</section>
			{% endif %}

		</div>
	</div>
</main>{% endblock %}
