{% extends 'base.html.twig' %}

{% block title %}StmFa: Annonces
{% endblock %}

{% block body %}
	{% include "layouts/_navbar.html.twig" %}
	<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
				Voici les annonces publiées par nos utilisateurs
			</h2>
			<p class="text-base text-gray-700 md:text-lg">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

			</p>
		</div>
		<div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-4 sm:grid-cols-2">
			{% for advert in adverts %}
				<a href="{{path('advert_show', {'slug': advert.slug})}}" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">

					<div class="flex flex-col h-full">
						<img src="/uploads/annonces/{{advert.imageName}}" class="object-cover w-full h-48" alt=""/>

						<div class="flex-grow border border-t-0 rounded-b">
							<div class="p-5">
								<h4 class="mb-2 font-semibold leading-5">{{advert.title}}</h4>
								<p class="text-sm text-gray-900">
									{{advert.description | u.truncate(100)}}
								</p>
								<p>Publié par
									{{advert.user.firstname}}</p>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="text-center">
			<a href="/" class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none">
				Learn more
			</a>
		</div>
	</div>

{% endblock %}
